html {
    background-color: #f2f1ed;
    font-family: Georgia, serif;
}
header, h2 {
  font-family: 'Patua One';
}
h1 {
  color: #5d8432;
  text-transform: uppercase;
}
img {
  width: 100%;
}
figcaption {
  font-style: italic;
  text-align: center;
}
a,
a:link {
  color: #793284;
}
a:hover {
  color: #b42885;
}
ol {
    list-style-type: none;
}
.hadrosaur {
  font-size: 1.1rem;
}
